atlassian-python-api==3.41.4
continuous-eval==0.2.7
dataclass-wizard==0.22.2
datasets
docx2txt
faiss-cpu
fastapi==0.104.1
huggingface_hub==0.25
gspread==6.0.0
jupyterlab==4.2.5
langchain==0.3.0.dev1
langchain-community==0.2.9
langchain-core==0.2.43
langchain-nvidia-ai-endpoints==0.1.6
langchain-text-splitters==0.2.1
llama-hub==0.0.43
llama-index==0.12.28
opencv-python==4.8.1.78
pandas==2.2.0
Pillow==10.2.0
pydantic==2.5.3
pymilvus==2.3.1
pymupdf==1.23.15
python-multipart==0.0.18
python_pptx==0.6.23
qdrant_client==1.7.1
Requests==2.31.0
sentence-transformers==2.2.2
streamlit==1.30.0
streamlit_analytics==0.4.1
streamlit_feedback==0.1.3
torch==2.7.1
transformers==4.50.0
unstructured[all-docs]==0.11.2
uvicorn[standard]==0.24.0
wheel
